* {
    margin: 0;
    padding: 0;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
    color: black;
    opacity: .7;
}
h1.welcome-heading {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    opacity: .8;
    padding-left: 15px;
    border-left: 5px solid;
    border-radius: 5px;
    border-image: linear-gradient(rgba(255, 0, 0, 0.459), black);
    border-image-slice: 1;
}
.heading-color {
    color: orange;
}
.welcome-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.welcome-writing-part {
    width: 50%;
    padding: 5%;
    background-color: gray;
}
.welcome-img-part {
    width: 50%;
    background-color: indianred;
}
.button-style {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(63, 21, 20);
    background-color: thistle;
    transition: .3s;
}
.button-style:hover {
    background-color: black;
    color: white;    
    cursor: pointer;
}
.welcome-img-part img {
    width: 80%;
    height: 500px;
    object-fit: contain;
}