* {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
    color: black;
    opacity: .7;
}
h1.welcome-heading {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    padding-left: 15px;
}
.border-slice {
    border-left: 4px solid;
    border-image: linear-gradient(rgba(255, 0, 0, 0.61), black);
    border-image-slice: 1;
}
.heading-color {
    color: rgb(170, 3, 25);
}
.welcome-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.writing-part {
    width: 50%;
    padding: 5%;
}
.img-part {
    width: 50%;
}
.img-part img {
    width: 80%;
    height: 500px;
    object-fit: contain;
}
.linked-btn {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(63, 21, 20);
    background-color: thistle;
    transition: .3s;
}
.linked-btn:hover {
    background-color: black;
    color: white;    
    cursor: pointer;
}
/* future part  */
.future-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.second-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.fc-img-part {
    width: 50%;
}
.fc-img-part img {
    width: 100%;
    /* border-radius: 10px; */
    border-bottom-left-radius: 65px;
    border-top-right-radius: 65px;
}
/* community part  */
.community-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.community-part .writing-part {
    padding: 0px 40px;
}
/* footer part  */
footer {
    background-color: black;
    padding: 40px 0px;
    color: white;
    text-align: center;
}
footer h3 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.footer-heading {
    color: tomato;
}
#footer-p {
    color: white;
    font-size: 12px;
    font-weight: 200;
    opacity: 1;
}