* {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
    color: black;
    opacity: .7;
}
a {
    text-decoration: none;
    transition: .2s;
}
a:hover {
    color: blue;
}
h1.welcome-heading {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    padding-left: 15px;
}
.border-slice {
    border-left: 4px solid;
    border-image: linear-gradient(rgba(255, 0, 0, 0.61), black);
    border-image-slice: 1;
}
.heading-color {
    color: rgb(170, 3, 25);
}
.welcome-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.writing-part {
    width: 50%;
    padding: 5%;
}
.img-part {
    width: 50%;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.img-part img {
    width: 80%;
    height: 500px;
    object-fit: contain;
}
.linked-btn {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(63, 21, 20);
    background-color: thistle;
    transition: .3s;
}
.linked-btn:hover {
    background-color: black;
    color: white;    
    cursor: pointer;
}
/* history part  */
.history-part {
    margin-bottom: 100px;
}
.history-part h2 {
    text-align: center;
    padding-bottom: 30px;
}
.cards-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.card {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px 20px 100px 40px;
    border-radius: 20px;
}
.invention {
    background-color: rgba(2, 253, 2, 0.151);
}
.father {
    background-color: rgba(255, 0, 0, 0.116);
}
.evolution {
    background-color: rgba(0, 0, 255, 0.11);
}
.card-illustration img {
    width: 50%;
    margin-bottom: 20px;
}
.card-caption  {
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
}
/* future part  */
.future-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
.second-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.fc-img-part {
    width: 50%;
}
.fc-img-part img {
    width: 100%;
    /* border-radius: 10px; */
    border-bottom-left-radius: 65px;
    border-top-right-radius: 65px;
}
/* community part  */
.community-part {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 5%;
}
.community-part .writing-part {
    padding: 0px 40px;
}
/* footer part  */
footer {
    background-color: black;
    padding: 40px 0px;
    color: white;
    text-align: center;
}
footer h3 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.footer-heading {
    color: tomato;
}
#footer-p {
    color: white;
    font-size: 12px;
    font-weight: 200;
    opacity: 1;
}
/* bonus part  */
.bonus-part {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.bonus-img {
    text-align: center;
}
.antik {
    position: relative;
    margin: 100px 0 ;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.253);
}
